<%- include("header") %>

    <body>
        <div class="box" id="heading">
            <h1>Day is</h1>
            <h1>
                <%= day %>
            </h1>
        </div>
        <div class="box">
            <%items.forEach(item=> { %>
                <form action="/delete" method="post">
                    <div class="item">
                        <input type="checkbox" name="checkBox" value="<%= item._id %>" onchange="this.form.submit()">
                        <p>
                        <%= item.task %>
                            </p>
                            </div>
                    </form>
                    
                    <%}); %>
                        <form class="item" action="/add" method="post">
                <input type="text" name="task" placeholder="New Task" autocomplete="off" required>
                <button type="submit">+</button>
            </form>
        </div>
        </body>
        <br>
        <%- include("footer") %>
        
    </html>